<a href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
    <div class="wrapper">
        <div class="site-head__inner">
            <nav aria-label="Primary">
                <ul class="nav__list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/knitting">Work</a>
                    </li>
                    <li>
                        <a href="/reading">Reading</a>
                    </li>
                    <li>
                        <a href="/now">Now</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
